body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
	color:#576a6c;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.hb {
	width: 48%;
	padding-left:1%;
	padding-right:1%;
}



.b3 {
	width: 30%;
}
.b4 {
	width: 40%;
}
.b2_5 {
	width: 25%;
}
.cb {
	clear: both;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.hdib {
	display: inline-block;
	width: 49%;
	vertical-align: top;
}
.header {
	padding-bottom: 15px;
	height: 120px;
}
.table {
	width: 100%;
	margin-bottom: 15px;
	border-collapse: inherit;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
.table td {
	border-collapse: inherit;
    border-spacing: 0;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
.table-row-border tr td, .table-row-border tr th {
	border-bottom: 1px solid #e7eaec;
	padding:2px;
}
.table th {
	text-align: left;
}
table.half_cell td {
	width: 50%;
}
.upf {
	text-transform: uppercase;
}
.client_info {
	padding-bottom: 30px;

}
.client_info h3 {
	font-size: 12px;


}
.client_info p {
	margin: 0;
}
h1 {
	font-size: 16px;
}
.main_info .name_box p {
	margin: 0;
}
.pdf_box .offertable tr th {
	border-bottom:1px solid #e7eaec;
	font-weight: bold;
	font-size: 11px;
}
.footer {
	text-align: left;
	font-weight: normal;
	font-style: normal;
}

.half_page {
    width: 50%;
    float: left;
    padding-top: 50px;
}

.whole_page {
    margin-top: 50px;
    width: 100%;
}

.smaller {
    font-size: 10px;
}

.width-1-5 {
    float: left;
    width: 18%;
    padding-left: 10px;

}

.width-1-2 {
    float: left;
    width: 45%;
    padding-left: 10px;

}
.width-1-3 {
    float: left;
    width: 33%;
    padding-left: 10px;

}

.width-1-10 {
    float: left;
    width: 10%;
    padding-left: 10px;

}

.right-border {
    border-right: 0.5px solid black;
}
.bottom-border {
    border-bottom: 0.5px solid black;
}

.padding-top {
    padding-top: 5px;
}

hr {
  height: 2px;
}

.table-bordered {
    border: 1px solid #EBEBEB;
}

.table-bordered tr td, .table-bordered tr th {
    border: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}